Repository nathanosdev/ic-webpack-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write

.lintstagedrc:

{
  "*.ts": [
    "eslint --fix",
    "prettier --list-different --write"
  ],
  "*.{md,json}": [
    "prettier --list-different --write"
  ]
}

feat: add initial implementation of environment variable injection
  README.md
  package.json
  src/main.ts
  src/typings.d.ts
Due: eslint --fix, prettier --list-different --write

ci: and github action pipelines
  .github/workflows/build-and-test.yml
  .github/workflows/merge.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  .npmignore
  .prettierignore
  package.json
Due: prettier --list-different --write

ci: dont inlude node_modules in build artifact
  .github/workflows/build-and-test.yml
Due: none

ci: add missing IS_PRERELEASE env variable
  .github/workflows/build-and-test.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

ci: fix broken NODE_VERSION input references
  .github/workflows/build-and-test.yml
  .github/workflows/build.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
Due: none

ci: fix broken environment variable references
  .github/workflows/build-and-test.yml
  .github/workflows/build.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  README.md
  package-lock.json
  package.json
Due: prettier --list-different --write

chore: release v0.1.0
  CHANGELOG.md
  package.json
Due: prettier --list-different --write

chore: release v0.2.0
  CHANGELOG.md
  package.json
Due: prettier --list-different --write

feat: create artifact for github release
  .github/workflows/release.yml
Due: none

ci: update node version before generating changelog
  .github/workflows/release.yml
  CHANGELOG.md
Due: prettier --list-different --write

ci: clean version string before getting artifact for github release
  .github/workflows/release.yml
  package.json
Due: prettier --list-different --write

chore: release v0.5.0
  CHANGELOG.md
  package.json
Due: prettier --list-different --write

ci(migrate-to-commitizen-cli): renamed repository and npm package, and migrated to commitizen cli
  .czrc
  .github/workflows/build-and-test.yml
  .github/workflows/build.yml
  .github/workflows/merge.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  .husky/commit-msg
  CHANGELOG.md
  README.md
  cz.json
  package-lock.json
  package.json
Due: prettier --list-different --write

ci(migrate-to-commitizen-cli): renamed repository and npm package, and migrated to commitizen cli (#1)
  .czrc
  .github/workflows/build-and-test.yml
  .github/workflows/build.yml
  .github/workflows/merge.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  .husky/commit-msg
  CHANGELOG.md
  README.md
  cz.json
  package-lock.json
  package.json
Due: prettier --list-different --write

chore: update changelog
  CHANGELOG.md
Due: prettier --list-different --write

ci: remove release workflow dispatch variables
  .github/workflows/release.yml
Due: none

ci: remove release workflow dispatch variables (#2)
  .github/workflows/release.yml
Due: none

ci: add back workflow dispatch trigger to release workflow
  .github/workflows/release.yml
Due: none

ci: add back workflow dispatch trigger to release workflow (#3)
  .github/workflows/release.yml
Due: none

ci: add github token for commitizen action
  .github/workflows/release.yml
Due: none

ci: tell commitizen not to push changes
  .github/workflows/release.yml
Due: none

chore: release 0.1.0
  CHANGELOG.md
  cz.json
  package.json
Due: prettier --list-different --write

test: refactor code into multiple files and add unit tests
  .eslintrc.js
  .gitignore
  .prettierignore
  README.md
  jest.config.js
  package-lock.json
  package.json
  src/__snapshots__/dfx-canister-config.spec.ts.snap
  src/__snapshots__/ic-canister-plugin.spec.ts.snap
  src/configure-jest.ts
  src/dfx-canister-config.spec.ts
  src/dfx-canister-config.ts
  src/dfx-network.spec.ts
  src/dfx-network.ts
  src/ic-canister-plugin.spec.ts
  src/ic-canister-plugin.ts
  src/ic-webpack-plugin-error.ts
  src/ic-webpack-plugin-logger.ts
  src/ic-webpack-plugin.spec.ts
  src/ic-webpack-plugin.ts
  src/main.ts
  src/typings.d.ts
  tsconfig.test.json
Due: eslint --fix, prettier --list-different --write

ci: add build and test jobs to ci merge worflow
  .github/workflows/merge.yml
  README.md
Due: prettier --list-different --write

ci: collect test coverage on CI merge and pull request workflows
  .github/workflows/merge.yml
  .github/workflows/pull-request.yml
  README.md
Due: prettier --list-different --write

test: fix getCanisterConfig unit test, snapshots fail on ci
  src/__snapshots__/dfx-canister-config.spec.ts.snap
  src/dfx-canister-config.spec.ts
Due: eslint --fix, prettier --list-different --write

docs: update build status badge
  README.md
Due: prettier --list-different --write

feat(proxy): add initial proxy plugin implementation
  .vscode/extensions.json
  README.md
  jest.config.js
  package.json
  src/common/__snapshots__/dfx-config.spec.ts.snap
  src/common/dfx-canister-config.spec.ts
  src/common/dfx-canister-config.ts
  src/common/dfx-config-schema.ts
  src/common/dfx-config.spec.ts
  src/common/dfx-config.ts
  src/common/dfx-network.spec.ts
  src/common/dfx-network.ts
  src/common/ic-webpack-plugin-error.ts
  src/common/ic-webpack-plugin-logger.ts
  src/common/index.ts
  src/common/load-json-file.ts
  src/dfx-canister-config.ts
  src/ic-canister-plugin/__snapshots__/ic-canister-plugin.spec.ts.snap
  src/ic-canister-plugin/ic-canister-plugin.spec.ts
  src/ic-canister-plugin/ic-canister-plugin.ts
  src/ic-canister-plugin/index.ts
  src/ic-proxy-plugin/__snapshots__/ic-proxy-plugin.spec.ts.snap
  src/ic-proxy-plugin/dev-server-config.spec.ts
  src/ic-proxy-plugin/dev-server-config.ts
  src/ic-proxy-plugin/dev-server-proxy-config.ts
  src/ic-proxy-plugin/dev-server-static-config.ts
  src/ic-proxy-plugin/ic-proxy-plugin.spec.ts
  src/ic-proxy-plugin/ic-proxy-plugin.ts
  src/ic-proxy-plugin/index.ts
  src/ic-webpack-plugin.spec.ts
  src/ic-webpack-plugin.ts
  src/ic-webpack-plugin/ic-webpack-plugin.spec.ts
  src/ic-webpack-plugin/ic-webpack-plugin.ts
  src/ic-webpack-plugin/index.ts
  tsconfig.build.json
Due: eslint --fix, prettier --list-different --write

test: fix snapshot tests that will break on other machines
  CONTRIBUTING.md
  README.md
  src/common/dfx-canister-config.spec.ts
  src/ic-proxy-plugin/__snapshots__/ic-proxy-plugin.spec.ts.snap
  src/ic-proxy-plugin/ic-proxy-plugin.spec.ts
Due: eslint --fix, prettier --list-different --write

chore: release 0.2.0
  CHANGELOG.md
  cz.json
  package.json
Due: prettier --list-different --write

fix: do not include configure-jest.ts in build output
  tsconfig.build.json
Due: prettier --list-different --write

chore: release 0.2.1
  CHANGELOG.md
  cz.json
  package.json
Due: prettier --list-different --write

fix: list emitted files and dont include tsconfig.build.tsbuildinfo in output
  .npmignore
  package.json
Due: prettier --list-different --write

chore: release 0.2.2
  CHANGELOG.md
  cz.json
  package.json
Due: prettier --list-different --write

fix: push changes to repository after publishing to npm and github
  .github/workflows/release.yml
Due: none
